argcomplete==1.11.1
autopep8==1.5.2
boto3==1.13.16
botocore==1.16.16
certifi==2020.4.5.1
cffi==1.14.0
cfn-flip==1.2.3
chardet==3.0.4
click==7.1.2
cognitojwt==1.2.2
cryptography==3.2
docutils==0.15.2
durationpy==0.5
ecdsa==0.15
Flask==1.1.2
Flask-Dance==3.0.0
Flask-WTF==0.14.3
future==0.18.2
hjson==3.0.1
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kappa==0.6.0
MarkupSafe==1.1.1
oauthlib==3.1.0
pip-tools==5.1.2
placebo==0.9.0
pprint==0.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
python-dateutil==2.6.1
python-jose==3.1.0
python-slugify==4.0.0
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.36.6
text-unidecode==1.3
toml==0.10.1
tqdm==4.46.0
troposphere==2.6.1
urllib3==1.25.9
URLObject==2.4.3
Werkzeug==1.0.1
wsgi-request-logger==0.4.6
WTForms==2.3.1
zappa==0.51.0
zipp==3.1.0
